<!DOCTYPE html>
<html lang="ja">
<head>
  <title>express_ts_sample</title>
  <link rel='stylesheet' type="text/css" href='/bootstrap/bootstrap.css' />
</head>
<body>

<div class="container">
  <%- include('./header.ejs') %>
  <div class="row py-0">
    <%- include('./sidebar.ejs') %>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%- include('../shared/flash.ejs', { message: flashMessage } ) %>
      <%- body %>
    </main>
  </div>
  <%- include('./footer.ejs') %>
</div>

</body>
</html>