<form method="post" action=<%= url %>>
  <input id="token" type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="hidden" name="_method" value=<%= method %> />

  <%- include('../shared/errors.ejs', { error: validationError }) %>

  <div class="form-group">
    <label for="user-lastName">姓：</label>
    <input type="text" id="user-lastName" name="lastName" class="form-control" value="<%= user.lastName %>" />
  </div>
  <div class="form-group">
    <label for="user-firstName">名：</label>
    <input type="text" id="user-firstName" name="firstName" class="form-control" value="<%= user.firstName %>" />
  </div>
  <div class="form-group">
    <label for="user-email">Eメール：</label>
    <input type="email" id="user-email" name="email" class="form-control" value="<%= user.email %>" />
  </div>
  <div class="form-group">
    <label for="user-password">パスワード</label>
    <input type="password" id="user-password" name="password" class="form-control" value="<%=user.password%>" />
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="確認" />
  </div>
</form>
