<h1>ユーザー登録</h1>

<form method="post" action="/sign_up">
    <input id="token" type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="_method" value="POST" />

    <%- include('../shared/errors.ejs', { error: validationError }) %>

    <div>
        <label for="user-lastName">姓：</label>
        <input type="text" id="user-lastName" name="lastName" value="<%= user.lastName %>" />
    </div>
    <div>
        <label for="user-firstName">名：</label>
        <input type="text" id="user-firstName" name="firstName" value="<%= user.firstName %>" />
    </div>
    <div>
        <label for="user-email">Eメール：</label>
        <input type="email" id="user-email" name="email" value="<%= user.email %>" />
    </div>
    <div>
        <label for="user-password">パスワード</label>
        <input type="password" id="user-password" name="password" value="<%=user.password%>" />
    </div>
    <div>
        <input type="submit" value="確認" />
    </div>
</form>

<a href="/users">一覧に戻る</a>