<h1><%= organizationUser.user.fullName() %>(<%= __(`models.OrganizationUser.role.${organizationUser.role}`) %>)</h1>

<div>
    <a href="/organizations/<%= organizationUser.organization.id %>/organization_users/<%= organizationUser.id %>/edit">
        メンバー情報編集
    </a>
</div>

<div>
    <h2>TODOs</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>タイトル</th>
            <th>詳細</th>
        </tr>
        </thead>
        <tbody>
        <% organizationUser.todos.forEach(function (todo, _key) { %>
            <tr>
                <td>
                    <%= todo.title %>
                    <% if (todo.statusCanceled()) { %>
                        <span>キャンセル</span>
                    <% } %>
                </td>
                <td><%= todo.description %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<a href="/organizations/<%= organizationUser.organization.id %>">組織画面へ</a>
